一直有一个想法，特别想规范一下我们小组的工作。我说下条目啊

1，每周六下午2点到5点在西院红房子值班，有事请假哦。
2，每周给每个人一定量的工作量，一般是前一周在红房子讨论好下一周的任务。然后计划贴到github上的，然后大家在下一周给予实现。
时间上还是以不耽误大家正常的学习为准则，完成任务的同学可以得到一定奖金，具体多少我到时候和洋洋协商啊。
3，保持红房子整洁，成员有义务收拾好红房子的。


大家要是有什么好的意见或者建议直接在下边加啊。
